{% extends "flatpages/default.html" %}


{% block title %}
MMORPGSC
{% endblock title %}

{% block content %}
{% if not user.is_authenticated %}
<div class="container">
<h1 class="text-center">Регистрация</h1>
    <div class="col-lg-6 col-lg-offset-3">
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Зарегистрироваться</button>
    </form>
    </div>
</div>
{% else %}
<h1 class="text-center">Вы уже зарегистрированы!</h1>
<h5 class="text-center">Чтобы зарегистрировать новый аккаунт, выйдите из текущего.</h5>
{% endif %}

{% endblock %}